<section class="w-full p-20 max-w-[1400px] mx-auto">
    <h3 class="uppercase tect-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto">Guía de la 3ra Edición de los premios Esland</h3>

    <lite-youtube class="" videoid="nYPVr2IYTtk" videotitle="Guía de la 3ra Edición de los premios Esland"></lite-youtube>
</section>

<script>
    import '@justinribeiro/lite-youtube';
</script>